@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Antiforgery;

@namespace AspNetCore.GitHub.Issue65070.Pages.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IAntiforgery antiforgery
@{
    var antiforgeryTokenSet = this.antiforgery.GetAndStoreTokens(this.Context);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="@antiforgeryTokenSet.RequestToken" />
    <base href="/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
</body>
</html>